h1{
	color: #9b1d20;
}
.divClass{
	width: 500px;
	padding: 600px;
	background-color: cornsilk;
}
img{
	width: 400px;
}
#thirdDiv{
	padding: 50px;
	background-color: cornsilk;
}
#spanId{
	font-family: 18px;
	margin: 50px;
}

